* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    max-width: 1640px;
    margin: 0 auto;
}

@media screen and (max-width: 1656px) {
    .wrapper {
        padding: 0 40px;
    }
}

html {
    font-size: 25px;
}

body {
    font-family: Kurale, serif;
}

section {
    padding: 100px 0;
}

h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2.2rem;
}

h3 {
    font-size: 1.2rem;
}

.about-me {
    background-color: #FDF5F7;
}

.container-about-me {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
}

.container-about-me__my-foto {
    margin-right: 40px;
}

.my-foto {
    max-width: 250px;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}

.container-about-me__description {
    border: 1px solid black;
    border-radius: 50px;
    padding: 60px;
}

.my-hobbies {
    background-color: #F6F6F6;
    text-align: center;
}

i {
    color: #FF83A7;
    font-size: 130px;
}

.container-my-hobbies {
    display: flex;
    justify-content: center;
    padding-top: 60px;
}

article {
    background-color: #F0F0F0;
    border-radius: 50px;
    padding: 40px;
    max-width: 500px;
    width: calc((100% - 2 * 40px) / 3);
}

article:not(:last-child) {
    margin-right: 40px;
}


.hobby__image {
    text-align: center;
    padding-bottom: 40px;
}